.reset_btn {
    margin-top: 20px;
    width: 80px;
    height: 30px;
    text-transform: uppercase;
    font-weight: bold;
    background: #ccc;
    border: 1px solid firebrick;
    border-radius: 5px;
}